.movie-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;

}

.movie_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.loadmore{
    width: 30%;
    padding: 10px;
    margin-bottom: 10rem;
    margin-top: 3rem;
}